:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

h1 {
  color: #5A0000;
  font-family: "GaeguRegular";
  margin: 0;
}

p {
  color: #5A0000;
  font-family: "GaeguRegular";
  margin: 0;
}

@font-face{
  font-family: "GaeguRegular";
  src:local("Gaegu-Regular.ttf"),
  url('./assets/fonts/Gaegu-Regular/Gaegu-Regular.ttf') 
}

@font-face{
  font-family: "GaeguBold";
  src:local("Gaegu-Bold.ttf"),
  url('./assets/fonts/Gaegu-Regular/Gaegu-Bold.ttf') 
}
